wandb/
dataset/
checkpoints/
vis_fig/
all_datasets/
data_preprocessing/
results/

*.log
*.pyc

log
tmp.sh
llama
qwen
test.py
test1.py
models/g
models/model.embed_tokens.weight
models/qwen2.onnx

all_datasets.tgz
data_preprocessing.tgz
